@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



.toDoList{
    // background-color: lightpink;
    width: 70vw;
    text-align: center;
    margin: 0 auto;
    font-family: Montserrat;
    padding: 3%;

    
}

.todo{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .index{
        font-weight: 600;

    }
}

.todoItems{
    width: 30vw;
    background-color: aliceblue;
    padding: 3%;
    margin: 3% auto;
}

#formDiv{
    margin: 0 auto;
    display: flex;
    
    justify-content: center;
    width: 70vw;

    form{
        display: flex;
        flex-direction: row;
    }

    .add-btn{
        margin-left: 3%;
        color: #006aff;
        padding: 1% 8%;
        background-color: #fff;
        border: 1px solid #006aff;
        border-radius: 3px;
    }
}


.crossed-line{
    text-decoration: line-through;
}

.tasks{
    cursor: pointer;
    &:hover{
        color: blue;
    }
    
}



.buttons{
    margin-bottom: 3%;
    // background-color: aqua;
    width: 10vw;

    button{
        margin-left: 5%;
        color: #006aff;
        padding: 1% 5%;
        background-color: #fff;
        border: 1px solid #006aff;
        border-radius: 3px;
    }
}